/* VP-react/src/components/Button.css */

.nav-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
}
  
.nav-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #646cff;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0.5rem;

}
  
.nav-button:hover {
    background-color: #fff;
    color: #646cff;
}
  
.nav-button:not(:last-child) {
    /* margin-right: 1rem; */
}
  