/* VP-react/src/components/Input.css */

.input-field {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    color: #646cff;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
  
.input-field:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.3);
}
  